@use "@app/theme/_variables.scss" as variables;
@use "@app/theme/_mixins.scss" as mixins;

.nav {
  box-sizing: border-box;
  margin: 24px 0;

  @include mixins.tablet {
    display: none;
  }

  &__active {
    @include mixins.tablet {
      z-index: 7;
      background-color: variables.$background;
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 50px 50px;
      overflow: hidden;
      justify-content: center;
      display: flex;

      body {
        overflow: hidden;
      }
    }
  }

  &__content {
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__active &__content {
    @include mixins.tablet {
      flex-direction: column;
    }
  }
}
