@use "@app/theme/variables" as variables;

.nav-item {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 1px solid transparent;

  &__text {
    color: variables.$green;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0.001em;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;

    // &:hover {
    //   font-weight: 550;
    // }
  }

  &.nav-item--active {
    .nav-item__link {
      .nav-item__icon {
        svg > * {
          fill-opacity: inherit;
          fill: variables.$green;
        }
      }

      .nav-item__text {
        color: variables.$green;
      }
    }
  }

  &__link {
    display: inline-flex;
    text-decoration: none;

    .nav-item__icon {
      height: 24px;
      width: 24px;
      margin-right: 25px;

      svg {
        display: flex;
      }
    }
  }
}
