@use "@app/theme/variables" as variables;
@use "@app/theme/mixins" as mixins;

.nav-item {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 10px;
  justify-content: center;

  @include mixins.mobile {
    margin: 20px 0;
  }

  &__text {
    color: variables.$green;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0.001em;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;

    &:hover {
      color: variables.$link-hover;
    }

    @include mixins.mobile {
      font-weight: 400;
      font-size: 35px;
      line-height: 45px;
      text-align: center;
      color: variables.$bcg-color;
    }
  }

  &__link {
    display: inline-flex;
    text-decoration: none;
  }
}
