@use "@app/theme/_variables.scss" as variables;
@use "@app/theme/_mixins.scss" as mixins;

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$background;

  @include mixins.tablet {
    padding: 20px 35px;
    flex-direction: column;
  }

  &-wrp {
    padding: 50px 0;
    display: flex;

    @include mixins.tablet {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    @include mixins.tablet {
      margin-right: unset;
    }

    & > span {
      font-size: 16px;
      line-height: 1.4;
      color: variables.$light-text;
      font-weight: 300;
      letter-spacing: 0.03em;

      @include mixins.tablet {
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  &-hours {
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
      margin-bottom: 10px;
    }

    & > span {
      font-size: 16px;
      line-height: 1.2;
      color: variables.$light-text;
      font-weight: 300;
      letter-spacing: 0.03em;

      @include mixins.tablet {
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  &-socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 50px;

    @include mixins.tablet {
      grid-template-columns: 50px 50px;
      margin: 0 auto;

      & > a {
        text-align: center;
      }
    }
  }
}
