@use "@app/theme/_variables.scss" as variables;
@use "@app/theme/_mixins.scss" as mixins;

.footer {
  padding: 30px 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: variables.$green;
  position: absolute;
  bottom: 0;
  left: 0;

  @include mixins.mobile {
    padding: 20px 35px;
    flex-direction: column;
  }

  &-wrp {
    padding: 20px 0;
    display: flex;

    @include mixins.mobile {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    @include mixins.mobile {
      margin-right: unset;
    }

    & > span {
      font-size: 16px;
      line-height: 1.4;
      color: variables.$light-text;
      font-weight: 300;
      letter-spacing: 0.03em;

      @include mixins.mobile {
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  &-hours {
    display: flex;
    flex-direction: column;

    @include mixins.mobile {
      margin-bottom: 10px;
    }

    & > span {
      font-size: 16px;
      line-height: 1.2;
      color: variables.$light-text;
      font-weight: 300;
      letter-spacing: 0.03em;

      @include mixins.mobile {
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  &-socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @include mixins.mobile {
      grid-template-columns: 40px 40px 40px 40px;
      margin: 0 auto;

      & > a {
        text-align: center;
      }
    }
  }
}
