@use "@app/theme/_variables.scss" as variables;
@use "@app/theme/_mixins.scss" as mixins;

.chess-item {
  display: flex;
  width: 100%;

  @include mixins.mobile {
    flex-direction: column;
  }

  &_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 50px;
    width: 50%;

    @include mixins.mobile {
      padding: 0px 30px 40px;
      width: 100%;
    }

    &__title {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 400;
      color: variables.$background;

      @include mixins.mobile {
        font-size: 28px;
      }
    }

    &__desc {
      font-size: 27px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05px;
      color: variables.$background;

      @include mixins.mobile {
        font-size: 15px;
      }
    }
  }

  &_img {
    width: 50%;
    aspect-ratio: 1/1;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;

    @include mixins.mobile {
      width: 100%;
      background-position-y: center;
    }
  }
}

.image-first {
  flex-direction: row-reverse;

  @include mixins.mobile {
    flex-direction: column;
  }
}
