@use "@app/theme/_mixins.scss" as mixins;

.carousel {
  margin: 50px 150px;
  display: flex;

  @include mixins.tablet {
    margin: 0;
    flex-direction: column;
  }

  &-slide {
    flex: 0 0 auto;
    transition: all 0.5s ease;
    width: 100%;
    display: flex;
    justify-content: center;

    & > img {
      max-width: 800px;
      z-index: 4;

      @include mixins.tablet {
        max-width: unset;
        width: 100%;
      }
    }
  }

  .disabled {
    display: none;

    @include mixins.tablet {
      display: flex;
    }
  }
}
