@font-face {
  font-family: "RisingSun";
  font-weight: 100;
  src: url("/assets/fonts/RisingSun-Thin.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 200;
  src: url("/assets/fonts/RisingSun-ExtraLight.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 300;
  src: url("/assets/fonts/RisingSun-Light.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 400;
  src: url("/assets/fonts/RisingSun-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 500;
  src: url("/assets/fonts/RisingSun-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 600;
  src: url("/assets/fonts/RisingSun-SemiBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "RisingSun";
  font-weight: 700;
  src: url("/assets/fonts/RisingSun-Bold.ttf") format("ttf");
  font-display: swap;
}
