@use "variables.scss" as variables;

@mixin mobile {
  @media (max-width: #{variables.$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{variables.$tablet-width}) {
    @content;
  }
}

@mixin transition {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
