$background: #800000;
$background-dark: #6f0101;
$background-light: #f6eddf;
$light-text: #f3eee6;
$link-hover: #800101;
$bcg-filter: #d9d9d9;

$laptop-width: 1280px;
$tablet-width: 1024px;
$mobile-width: 429px;
