$background: #687259;
$background-dark: #a2a182;
$background-light: #e6e6e6;

$text: #687259;
$dark-text: #1a1a1a;
$light-text: #e6e6e6;

$link-hover: #8e412e;
$bcg-filter: #d9d9d9;

$laptop-width: 1280px;
$tablet-width: 1024px;
$mobile-width: 429px;
