.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  &-interior {
    min-height: 950px;
    background: url("../../../assets/img/interior.jpg") center center no-repeat;
    width: 100%;
    background-size: cover;
  }

  &-svg {
    padding: 40px 50px;
  }
}
